* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}
table {
    width: 100%;
    background: #0fc1d4;
}
section td {
    padding: 10px;
    background: #f0fff8;
}
.content {
    font-size: 18px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid  #80ced6;
    padding: 50px;
    background: #f0fff8;
}
section p {
    font-size: 18px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid  #80ced6;
    padding: 50px;
    background: #f0fff8;
}
main {
    width: 70%;
    margin: 0 auto;
}
section {
    padding: 10px 0;
}